<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQL Injection Showcase</title>
</head>
<body>
<div style="text-align: center">
    <div style="display: inline-block">
        <p>Hello, World!</p>
        <a href="/query">
            <button>Unsafe Query</button>
        </a>
        <a href="/query-s">
            <button>Safe Query</button>
        </a>
    </div>
    <br>
    <div>
        <a href="/initialize"><button>Initialize Database</button></a>
    </div>
</div>
</body>
</html>