<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQL Injection Showcase</title>
</head>
<body>
    <a href="/">Home</a>
    <div style="text-align: center">
        <div style="display: inline-block">
            <p>Geben Sie den Namen der gesuchten Perosn ein</p>
            <form method="post">
                <div>
                    <label>Namen eingeben:  <input type="text" name="name"/></label>
                </div>
                <br>
                <br>
                <button type="submit">Submit search</button>
            </form>
            <br>
            <div>
                <a href="/initialize"><button>Initialize Database</button></a>
            </div>
        </div>
    </div>
    </body>
</html>